@page "/addDoctor"

<h3>AddDoctor</h3>

<div>
    <span>@Doctor.Name Имя:</span><input type="text" @bind="Doctor.Name"/> <br />
    <span>@Doctor.LastName Фамилия:</span><input type="text" @bind="Doctor.LastName"/> <br />
    <span>@Doctor.PhoneNumber Телефон:</span><input type="number" @bind="Doctor.PhoneNumber"/> <br />
    <span>@Doctor.Email Почта:</span><input type="text" @bind="Doctor.Email"/> <br />
    <span>@Doctor.Male Мужчина:</span><input type="checkbox" @bind="Doctor.Male"/> <br />
    <span>@Doctor.Birthday Мужчина:</span><input type="date" @bind="Doctor.Birthday"/> <br />
    <button @onclick="AddNewDoctor">Добавить</button>
</div>

@code {
    public DoctorInputModel Doctor;

    protected override void OnInitialized()
    {
        Doctor = new DoctorInputModel();
    }

    private void AddNewDoctor()
    {
        if (Doctor.Name != "")
        {
            var dm = new DoctorManager();
            dm.AddDoctor(Doctor);
            Doctor = new DoctorInputModel();
        }
    }
}
