@page "/recording/{Id:int}"
<div>
    <span>Выбери число:</span><select @onclick="ResetDate" @bind="_crntDate">
        @for(int i = 0; i < 7; i++)
        {
            <option value="@_date"> @_date.ToShortDateString() </option>
            _date = _date.AddDays(1);
        }
    </select>
   @if(Id == null || Id == 0)
   {<span>Выбери доктора:</span><select @onclick="ResetDate" @bind="_id">
        @foreach (var doc in _doctors)
        {
            <option value="@doc.Id"> @doc.Name @doc.LastName </option>
        }
        </select>
    }
    else
    {
        var doctor = new DoctorManager().GetDoctorById(Id);
        <span>Доктор: @doctor.Name @doctor.LastName </span>
    }
    <button class="btn-showrecording" @onclick="ShowRecording">Показать расписание</button>
    <div class="recording-div">
        @if (_timeRecordings.Count != 0)
        {
            <ul class="page-menu">
                <li>
                    <span>|Время|</span>
                    <em>|Свободно/Занято|</em>
                </li>
                @foreach (var tt in _timeRecordings)
                {
                    <li class="li-recording"><span>@tt.TimeTable.TimeSpan.Start - @tt.TimeTable.TimeSpan.End</span>
                        @if(tt.Occupied == false)
                        {
                            <a href="/recordingall/sign/@tt.Id">
                            <button  class="btn-recording" id="rec">Записаться</button>
                            </a>
                            <em>Свободно</em>  
                        }
                        else
                        {

                            <button class="btn-recording" id="norec">Записаться</button>

                            <em>Занято</em>
                        }
                    </li>
                }
            </ul>
        }
    </div>
    @if (_timeRecordings.Count == 0 && _crntDate != DateTime.MinValue && _id != 0 && _flagShow == true)
    {
        <button @onclick="FillRecordingByDay">Заполнить расписание</button>
    }
</div>

@code {
    [Parameter] public int Id { get; set; }
    private int _id;
    private DateTime _date;
    private DateTime _crntDate;
    private List<DoctorOutputModel> _doctors;
    private List<TimeRecordingOutputModel> _timeRecordings { get; set; }
    private TimeRecordingOutputModel tt;
    private bool _flagShow = false;

    protected override void OnInitialized()
    {
        _doctors = new DoctorManager().GetAllDoctors();
        _date = DateTime.Now;
        _crntDate = new DateTime();
        _timeRecordings = new List<TimeRecordingOutputModel>();
        tt = new TimeRecordingOutputModel();
    }

    private void ResetDate()
    {
        _date = DateTime.Now;
    }

    private void ShowRecording()
    {
        _flagShow = true;
        if (Id == null || Id == 0)
        {
            _timeRecordings = new TimeRecordingManager().GetAllTimeRecordingsByDoctorIdAndDay(_crntDate, _id);
        }
        else
        {
            _timeRecordings = new TimeRecordingManager().GetAllTimeRecordingsByDoctorIdAndDay(_crntDate, Id);
        }

        InvokeAsync(StateHasChanged);
        _date = DateTime.Now;
    }

    private void FillRecordingByDay()
    {
        new TimeRecordingManager().FillAllTimeRecordingInForAOneDay(_crntDate);
        _flagShow = false;
        InvokeAsync(StateHasChanged);
    }
}
