@page "/update-doctor/{Id:int}"

<h3>UpdateDoctor</h3>

<div>
	<span>Имя:</span><input type="text" @bind="_doctor.Name"/> <br />
	<span>Фамилия:</span><input type="text" @bind="_doctor.LastName"/> <br />
	<span>Пол</span><select  class="doctor-update-select" @bind="Male">
			<option value="true">Мужчина</option>
			<option value="false">Женщина</option>
	</select><br />
	<span>Специализация:</span><select  class="doctor-update-select" @bind="_doctor.Specialization.Id">
		@foreach (var a in Specializations)
		{
			<option value="@a.Id">@a.Name</option>
		}
	</select><br />
	@if(_doctor.Cabinet is not null){
	<span>Кабинет:</span><select class="doctor-update-select" @bind="_doctor.Cabinet.Id">
		@foreach( var a in Cabinets )
		{
			<option value="@a.Id">@a.Number</option>
		}
		</select><br />
	}
	else{
		var cabinet = new CabinetOutputModel() { Id = 1 , Number = 546 };
		_doctor.Cabinet = cabinet;
		<span>Кабинет:</span>

		<select class="doctor-update-select" @bind="_doctor.Cabinet.Id">
			@foreach (var a in Cabinets)
			{
					<option value="@a.Id">@a.Number</option>
			}
			</select>

		<br />
	}
	<span>Телефон:</span><input type="tel" placeholder="8-999-123-45-67" @bind="_doctor.PhoneNumber"/> <br />
	<span>Почта:</span><input placeholder="default@example.com" type="email" @bind="_doctor.Email" /> <br />
	<span>День рождения:</span><input type="date" @bind="_doctor.Birthday"/> <br />
	<button @onclick="EditDoctor">Сохранить изменения</button> <br />
	<NavLink href="/Doctors"><div class="back">Назад</div></NavLink>
</div>

@code {
	[Parameter] public int Id { get; set; }

	private DoctorOutputModel _doctor;

	public List<SpecializationOutputModel> Specializations;

	public List<CabinetOutputModel> Cabinets;

	public string Male;

	protected override void OnInitialized()
	{
		var doctors = new DoctorManager().GetAllDoctors();
		var index = IndexDoctorByListDoctors(doctors);
		_doctor = doctors[index];
		Specializations = new SpecializationManager().GetAllSpecializations();
		Cabinets = new CabinetManager().GetAllCabinets();
		var Male = Convert.ToString(_doctor.Male);

	}

	private void EditDoctor()
	{
		_doctor.Male = Convert.ToBoolean(Male);
		var doc = new DoctorInputModel()
			{
				Id = _doctor.Id,
				Name = _doctor.Name,
				LastName = _doctor.LastName,
				Male = _doctor.Male,
				PhoneNumber = _doctor.PhoneNumber,
				Email = _doctor.Email,
				SpecializationId = _doctor.Specialization.Id,
				CabinetId = _doctor.Cabinet.Id,
				Birthday = _doctor.Birthday
			};
		new DoctorManager().UpdateDoctor(doc);
	}

	private int IndexDoctorByListDoctors(List<DoctorOutputModel> doctors)
	{
		int index = 0;
		int counter = -1;
		foreach (var i in doctors)
		{
			counter++;
			if (i.Id == Id)
			{
				index = counter;
			}
		}
		return index;
	}
}
