<div class="patient-card">
    <h1>@patient.Name, @patient.LastName</h1>
    <h2><img width="15" src="/css/Images/MedicalCard.svg" alt="icon of medical card">Номер карты: @patient.Id</h2>
    <h2><img width="15" src="/css/Images/Birthday.svg" alt="icon of birthday">Дата рождения: @day</h2>
    @if (patient.PhoneNumber is not null){
        <h4><img width="15" src="/css/Images/Telephone.svg" alt="icon of telephone">@patient.PhoneNumber</h4>
    }
    else
    {
        <h4><img width="15" src="/css/Images/Telephone.svg" alt="icon of telephone">Номер не указан</h4>
    }

    @if (patient.Status is not null)
    {
        <h6>Статус: @patient.Status.Name</h6>
        <h6>Скидка: @patient.Status.Discount</h6>
    }
    else
    {
        <h2>Статус: - </h2>
        <h2>Скидка: 0 </h2>
    }
</div>

@code {
    [Parameter] public PatientOutputModel patient { get; set; }
    public string Status { get; set; }
    private string day;

    protected override void OnInitialized()
    {
        day = patient.Birthday.ToString("dd.MM.yyyy");
    }
}
